/* 공유 페이지 */

  .Share_Logo{
    display: block;
    padding: 5% 0 2% 0;
    margin: 0 auto;
    width: 180px;
    height: 120px;
  }
  
  .Share_Menu{
    position: fixed;
    right: 0;
    margin: -6% 6% 0 0;
  }
  
  .Share_Diarylist, 
  .Share_Calendar, 
  .Share_Diary, 
  .Share_Time, 
  .Share_Mypage{
    border-bottom: 0.04cm solid rgb(71, 71, 71);
    border-top: none;
    border-left: none;
    border-right: none;
  }
    

  .Share_Diarylist, 
  .Share_Calendar, 
  .Share_Diary, 
  .Share_Time, 
  .Share_Mypage, 
  .Share_Logout{
    writing-mode: vertical-lr;
    font-size: 15px;
    letter-spacing: 5px;
    background-color: white;
    display: block;
    padding: 20px 0 10px 0;
  }
  
  .Share_Logout{
    color:rgb(218, 55, 55);
    border: none;
  }
  
  .Share_Diarylist:hover, 
  .Share_Calendar:hover, 
  .Share_Diary:hover, 
  .Share_Time:hover, 
  .Share_Mypage:hover, 
  .Share_Logout:hover{
    font-weight: bold;
  }

  .Share_Section{
    margin: 2% 0 0 8%;
    width: 80%;
    padding-top: 0;
    display: inline-flex;
  }

  .Share_Leftbox{
    padding: 0% 0 3% 2%;
    margin-left: 5%;
    width: 17%;
    float: left;
  }

  .Share_Picture{
    position: relative;
    margin-left: 15%;
    width: 150px;
    height: 170px;
  }

  .Share_Img{
    position: absolute;
    margin-left: -8.65%;
    width: 150px;
    height: 170px;
  }

  .Share_File{
    margin-top: 10%;
    width: 220px;
    height: 30px;
  }

  .Share_Filechoice{
    width: 180px;
    float: left;
  }

  .Share_Delete{
    width: 23px;
    height: 23px;
    text-align: center;
    cursor: pointer;
    float: right;
  }

  .Share_Profile{
    Text-Align: left;
    font-size: 0.7cm;
    line-height: 1.5cm;
  }

  .Share_Rightbox{ 
    padding: 3% 0 0 5%;
    margin-left: 5%;
    width: 60%;
    float: right;
    background-color: rgb(241, 241, 241, 0.5);
  }

  .Share_Box{
    margin-bottom: 10%;
    border: none;
  }

  .Share_Title{
    width: 90%;
    margin-bottom: 5%;
    font-size: 0.7cm;
    border: none;
    font-weight: bold;
    color: black;
  }

 .Share_Content:hover{
    color: #244F9E;
    font-weight: bold;
  }

  .Share_Content{
    width: 90%;
    margin-left: 10%;
    font-size: 0.5cm;
    border: none;
  }

  .Share_Button {
    width: 130px;
    height: 130px;
    font-size: 30px;
    color:aliceblue;
    border: none;
    background: #244F9E;
    border-radius: 100%;
  }
  
  .Share_Footer{
    position: relative;
    margin: -5% 20% 7% 0;
    display: inline-flex;
    float: right;   
  }
