/* 일지 목록 페이지 */

.List_Logo{
  display: block;
  padding: 5% 0 2% 0;
  margin: 0 auto;
  width: 180px;
  height: 120px;
}

.List_Menu{
  position: fixed;
  right: 0;
  margin: -11% 6% 0 0;
}

.List_Diarylist, .List_Calendar, .List_Diary,.List_Time, .List_Mypage{
  border-bottom: 0.04cm solid rgb(71, 71, 71);
  border-top: none;
  border-left: none;
  border-right: none;
  }

.List_Diarylist, .List_Calendar, .List_Diary,.List_Time, .List_Mypage, .List_Logout{
  writing-mode: vertical-lr;
  font-size: 17px;
  letter-spacing: 10px;
  background-color: white;
  display: block;
  padding: 20px 0 10px 0;
}

.List_Diarylist{
  font-weight: bold;
  font-size: 18px;
}

.List_Logout{
  color:rgb(218, 55, 55);
  border: none;
}

.List_Diarylist:hover, .List_Calendar:hover, .List_Diary:hover, .List_Time:hover, .List_Mypage:hover, .List_Logout:hover{
  font-weight: bold;
}

.List_section{
  margin: 2% 0 0 8%;
  width: 80%;
  padding-top: 0;
  display: inline-flex;
}

.List_Leftbox{
  padding: 3% 0 3% 2%;
  margin-left: 5%;
  width: 17%;
  min-height: 500px;
  float: left;
  Text-Align: left;
  font-size: 0.7cm;
  background-color: rgb(241, 241, 241, 0.5);
}

.List_Box{
  margin: 0 0 10% 5%;
  padding-top: 5%;
}
  
.List_Category{
  padding-bottom: 15%;
  border:none;
  font-size: 0.6cm;
  background-color: rgb(241, 241, 241, 0);
}

.List_Category:hover{
  color:rgb(89, 86, 247);
  font-weight: bold;    
}

.List_Rightbox{ 
  padding: 3% 0 0 5%;
  margin-left: 5%;
  width: 60%;
  min-height: 500px;
  float: right;
  background-color: rgb(241, 241, 241, 0.5);
}

.List_List{
  padding: 2% 0 2% 5%;
  width: 85%;
  font-size: 0.7cm;
  border: 3px solid white;
  border-radius: 5px;
}

.List_List:hover{
  font-weight: bold;
}