.left {
    display: block;
    position: relative;
    left: 8%
}

.container {
    width: 350px;
    height: 250px;
    margin-top: 10%;
    margin-left: 10%;
}

.slick-slide {
    height: 200px;
    border: none;
    box-sizing: border-box;
}

.slick-slide h3 {
    font-size: 3rem;
    text-align: center;
}




.GPA {
    display: flex;
    position: relative;
    left: 22%;
}


.GPAavg {
    position: relative;
    left: 22%;
    top: 0%;
    font-size: 1rem;
}



.GPAavginput {
    position: relative;
    left: 22%;
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    color: #f94242;
    line-height: 1.5;
    width: 50px;
}

.GPAavginput:focus {
    outline: none;
}

.GPAavgtext {
    position: relative;
    left: 18%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 5%;
}

.GPAget {
    position: relative;
    left: 22%;
    top: 0%;
    font-size: 1rem;
}


.GPAgetinput {
    position: relative;
    left: 22%;
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    color: #f94242;
    line-height: 1.5;
    width: 50px;
}

.GPAgetinput:focus {
    outline: none;
}

.GPAgettext {
    position: relative;
    left: 15%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 5%;
}

.GPAsave {
    position: relative;
    left: 28%;
}