.all {
    margin-top: 10%;
    display: flex;
}

.Logo {
    position: absolute;
    right: 40%;
    display: block;
    padding: 2% 0 2% 0;
    top: 0;
    width: 200px;
    height: 160px;

}