.Logo {
    position: absolute;
    right: 50%;
    display: block;
    padding: 2% 0 2% 0;
    top: 0;
    width: 200px;
    height: 160px;

}

.changepswd {
    position: absolute;
    left: 40%;
    top: 25%;
}

.Ok {
    position: relative;
    left: 30%;
    margin-right: 10%;
}